@font-face {
    font-family: 'Inria Sans';
    src: url('./assets/fonts/Inria_Sans/InriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('./assets/fonts/Inria_Sans/InriaSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('./assets/fonts/Inria_Sans/InriaSans-Light.ttf') format('truetype');
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

a {
    cursor: pointer;
}