<div>
    <div class="row d-flex justify-content-center">
        <div class=" col-9 col-sm-9 col-md-9 col-lg-6 main-login p-0">
            <div class="container-fluid">
                <div class="row top-login">                    
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <button id="back" (click)="recoverBtnClick()">
                            <img src="../../assets/icons/arrow-back.svg" alt="voltar" style="color: pink;">
                        </button>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center p-2 p-md-2 p-lg-2 p-xl-3">
                        <h1>Recuperação</h1>
                    </div> 
                </div>
                <div class=" row bottom-login">
                    <div class="col-10 col-md-9 d-flex align-items-center justify-content-center">
                        <form class="w-100">
                            <p id="subtitle">Forneça seu email de recuperação:</p>
                                <mat-form-field>
                                    <input matInput type="text" class="email" id="email" placeholder="Email" style="height: 3vh">
                                </mat-form-field>                            
                            <button (click)="recoverPassword($event)" id="recoverBtn" class="mb-4 w-50" type="submit">Enviar</button>
                        </form>
                    </div>                    
                </div>
            </div>                     
        </div>
    </div>
</div>